# Ignore specifications
/specifications/

# Ignore phase instructions
phase-0*.md

# Ignore aa-times example in Images
/images/aa-times.png

# Ignore instructions
instructions.md

# Ignore styles.md
styles.md
