.interests-bar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 2fr 1fr 0.75fr;
    border-top: 1px solid var(--clr-black);
    border-bottom: 1px solid var(--clr-black);
    font-size: 12px;
    column-gap: 1px;
    padding: 10px;
}

.interests-bar__img {
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.interests-bar__img img {
    width: 70%;
}

.interests-bar__content {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: flex-start;
    padding: 5px 0;
    line-height: 18px;
}

.content-header {
    font-weight: 700;
}

.interests-bar__stocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.stocks-content {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
}

.stocks-content > p {
    padding-top: 10px;
}

.stocks-content:nth-of-type(1),
.stocks-content:nth-of-type(2) {
    border-bottom: 1px solid var(--clr-gray);
}

.stocks-content-price {
    color: green;
}

.interests-bar__weather {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather {
    font-size: 18px;
}

.interests-bar__content {
    border-right: 1px solid var(--clr-gray);
}

.interests-bar__stocks {
    border-right: 1px solid var(--clr-gray);
}

@media screen and (max-width: 1000px) {
    .interests-bar {
        display: none;
    }
}
