:root {
    /* Color variables */
    --clr-black: #000000;
    --clr-blue: #326891;
    --clr-dark-blue: #4d7b9f;
    --clr-dark-gray: #6f6f6f;
    --clr-darkest-blue: #265e8b;
    --clr-gray: #999;
    --clr-light-blue: #6288a5;
    --clr-light-gray: #e2e2e2;
    --clr-lightest-blue: #f0f8fc;
    --clr-lightest-gray: #f7f7f5;
    --clr-white: #ffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
    /* background-color: black;
    color: white; */
    background-color: var(--clr-white);
}

button {
    background-color: var(--clr-light-blue);
    border-radius: 3px;
    color: var(--clr-white);
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: 0 4px;
    padding: 7px 9px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #326891;
}

header,
footer,
main {
    margin: auto;
    max-width: 1400px;
    padding: 0 40px;
}
